# Configuration file

enhancedbiomes {

    "forested archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "pine forest archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "polar desert" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    woodlands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "woodland hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cypress forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "boreal forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    volcano {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    plateau {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sandstone ranges" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    shrublands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    meadow {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "alpine mountains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    tundra {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "fir forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    wastelands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sandstone canyons" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sandstone canyon" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ephemeral lake" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ephemeral lake edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "boreal plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "pine forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mountainous archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "desert archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "tropical archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "frozen archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "grassy archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "rocky desert" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    scrub {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "creek bed" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    sahara {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    badlands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    oasis {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    rainforest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "rainforest valley" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "blossom woods" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "blossom hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "oak forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    kakadu {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mountains {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mountains edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    scree {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "xeric savannah" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    steppe {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    prairie {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "low hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "alpine mountains edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    glacier {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "rocky hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    shield {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "clay hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mangroves {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    fens {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    carr {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "silver pine forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "silver pine hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "woodland field" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "aspen forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "aspen hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    basin {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    lake {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    clearing {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    marsh {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "alpine tundra" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy ranges" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "red desert" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "riparian zone" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "flowery archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "boreal archipelago" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice sheet" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "forested mountains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "forested valley" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold cypress forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold boreal forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "volcano m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sandstone ranges m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "roofed shrublands" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "meadow m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "alpine mountains m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy desert" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold fir forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy wastelands" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "stone canyons" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "stone canyon" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "woodland lake" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "woodland lake edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "boreal plateau m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold pine forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


minecraft {

    ocean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    plains {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    desert {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    forest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    taiga {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    swampland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    river {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    hell {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    sky {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    frozenocean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    frozenriver {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice mountains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mushroomisland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mushroomislandshore {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    beach {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    deserthills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    foresthills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    taigahills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    jungle {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    junglehills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    jungleedge {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "deep ocean" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "stone beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "roofed forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega taiga hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills+" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    savanna {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mesa {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau f" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sunflower plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "desert m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "flower forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "taiga m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "swampland m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice plains spikes" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "jungle m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "jungleedge m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest hills m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "roofed forest m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega spruce taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills+ m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna plateau m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa (bryce)" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau f m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


thaumcraft {

    "tainted land" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "magical forest" {
        B:Enable=true
        D:OccuranceMultiplier=70.0
    }

    eerie {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    eldritch {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


ttftcuts {

    "gravel beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    shrubland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy gravel beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "rocky steppe" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "tropical shrubland" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    tundra {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    volcano {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    woodland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


